{% extends 'base.html' %}
{% block content %}
<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <!-- <a class="m-0 font-weight-bold text-primary">Lista Clienti</a> -->
      <a href="javascript:;"
         class="btn btn-outline-success"
         onClick="window.open('{% url 'aggiungi_cliente' %}', 'titolo', 'width=1000, height=800, resizable, status, scrollbars=1, location');">
          <i class="fas fa-plus" align-justify="right"></i> Aggiungi cliente
      </a>

  </div>
  <div class="card-body">
      <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                  <tr>
                      <th>Denominazione</th>
                      <th>Città</th>
                      <th>Provincia</th>
                      <th>P.Iva / CF</th>
                      <th>Telefono</th>
                      <th>Email</th>
                      <th>Fattura elettronica</th>
                      <th>Nome</th>
                      <th>Cognome</th>
                      <th>Data inserimento</th>
                      <th>Azione</th>
                  </tr>
              </thead>
              <tfoot>
                  <tr>
                    <th>Denominazione</th>
                    <th>Città</th>
                    <th>Provincia</th>
                    <th>P.Iva / CF</th>
                    <th>Telefono</th>
                    <th>Email</th>
                    <th>Fattura elettronica</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Data inserimento</th>
                    <th>Azione</th>
                  </tr>
              </tfoot>
              <tbody>
                {% for cliente in clienti %}
                  <tr>
                      <td>{{ cliente.denominazione }}</td>
                      <td>{{ cliente.citta }}</td>
                      <td>{{ cliente.provincia }}</td>
                      <td>{{ cliente.picf }}</td>
                      <td>{{ cliente.telefono }}</td>
                      <td>{{ cliente.email }}</td>
                      <td>{{ cliente.fatturaElettronica }}</td>
                      <td>{{ cliente.nome }}</td>
                      <td>{{ cliente.cognome }}</td>
                      <td>{{ cliente.creato }}</td>
                      <td>
                        <a href="javascript:;"
                           class="btn text-secondary px-0"
                           onClick="window.open('{% url 'modifica_cliente' cliente.id %}', 'titolo', 'width=1000, height=800, resizable, status, scrollbars=1, location');">
                           <i class="far fa-edit fa-lg"></i>
                          </a>
                          <form action="{% url 'elimina_cliente' cliente.id %}" method="post" class="d-inline">
                              {% csrf_token %}
                              <button type="submit" class="btn">
                                  <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                              </button>
                          </form>
                      </td>
                  </tr>
                {% endfor %}
              </tbody>
          </table>
      </div>
  </div>
</div>
{% endblock content %}
